{{ $result := transform.HighlightCodeBlock . }}
<a
  data-name="copy-btn"
  class="mt-3 flex justify-between dark:bg-[#282c34] bg-[#F5F5F5] border-b-[0.5px] dark:border-gray-600 border-gray-300 py-1 px-2 rounded-t-sm"
>
  <div class="text-sm flex space-x-4 dark:text-[#abb2bf] text-black">
    {{ if .Attributes.lang }}
    <span>{{ .Attributes.lang }}</span>
    {{ else }}
    <span class="invisible"></span>
    {{ end }} {{ if .Attributes.title }}
    <span>{{ .Attributes.title }}</span>
    {{ else }}
    <span class="invisible"></span>
    {{ end }}
  </div>
  <img
    data-name="copy-icon-dark"
    class="hidden dark:block h-6 w-6 cursor-pointer transition-all duration-300 ease-in-out"
    src="/copy-dark.svg"
    alt="Copy"
  />
  <img
    data-name="copy-icon-light"
    class="dark:hidden block h-6 w-6 cursor-pointer transition-all duration-300 ease-in-out"
    src="/copy-light.svg"
    alt="Copy"
  />
  <img
    data-name="check-icon-dark"
    class="hidden h-6 w-6"
    src="/check-dark.svg"
    alt="Copied!"
  />
  <img
    data-name="check-icon-light"
    class="hidden h-6 w-6"
    src="/check-light.svg"
    alt="Copied!"
  />
</a>
<figure class="mb-3 py-2 px-2 dark:bg-[#282c34] bg-[#F5F5F5] rounded-b-sm">
  <div class="overflow-x-auto">{{ $result.Wrapped }}</div>
</figure>
