{{ define "head" }} {{ partial "jsonld.html" . }} {{ end }} {{ define "main" }}
<div class="w-full max-w-2xl lg:max-w-3xl">
  <div
    class="flex flex-col mt-6 mx-2 md:mx-0 rounded-lg overflow-hidden shadow-md bg-white dark:bg-gray-700 text-black dark:text-white"
  >
    <div>
      <a href="{{ .RelPermalink }}"> {{ partial "block/image.html" . }} </a>
    </div>
    <div class="flex flex-col gap-y-3 p-6">
      <h1 class="text-4xl text-slate-800 dark:text-slate-100">
        <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
      </h1>

      {{ partial "block/taxonomies.html" .}}

      <div
        class="flex flex-wrap gap-y-2 flex-row w-full justify-start space-x-2 items-center text-sm text-slate-500 dark:text-slate-300"
      >
        {{ partial "block/author.html" . }}
        <div class="flex w-max">{{ partial "block/time.html" . }}</div>
        <div class="flex w-max">{{ partial "block/read.html" . }}</div>
      </div>

      {{ with .Description }}
      <h2 class="mt-4 text-large text-slate-600 dark:text-slate-300">
        {{ . | $.Page.RenderString }}
      </h2>
      {{ end }} {{ if or .Params.Toc $.Site.Params.Toc }} {{ if ne .Params.Toc
      false }}
      <section
        class="prose prose-slate dark:prose-invert w-full max-w-4xl lg:max-w-5xl mt-6"
      >
        <h2>{{ T "table_of_contents" }}</h2>
        <aside>{{ .TableOfContents }}</aside>
      </section>
      {{ end }} {{ end }}

      <article
        class="post mt-6 w-full max-w-4xl lg:max-w-5xl prose prose-slate dark:prose-invert prose-quoteless post-content"
      >
        {{ .Content | safeHTML }}
      </article>

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ end }}
