@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-prosto-one: "Prosto One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  font-weight: 700;
}

.post p {
  @apply my-2;
}

.post hr {
  @apply h-1 text-gray-300 dark:text-slate-500;
}

#TableOfContents {
  @apply w-full md:w-max border-1 border-gray-300 dark:border-slate-400 p-2 mt-1;
}

#TableOfContents a {
  @apply hover:underline;
}

.icon-tabler-copy {
  @apply text-slate-500 dark:text-gray-500;
  @apply hover:text-slate-400 hover:dark:text-gray-400 cursor-pointer transition-all duration-200;
}

.icon-tabler-moon-stars {
  @apply text-slate-300;
}
