@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-prosto-one: "Prosto One", sans-serif;
  --font-source-code-pro: "Source Code Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  font-weight: 700;
}

.post p {
  @apply my-2;
}

.post hr {
  @apply h-1 text-gray-300 dark:text-slate-500;
}

#TableOfContents {
  @apply w-full md:w-max border-1 border-gray-300 dark:border-slate-400 p-2 mt-1;
}

#TableOfContents a {
  @apply hover:underline;
}

.icon-tabler-copy {
  @apply hidden;
}

.icon-tabler-moon-stars {
  @apply text-slate-300;
}

.post code {
  @apply font-source-code-pro;
}
.post code:not([class]) {
  @apply text-sm bg-gray-200 dark:bg-slate-600 px-1 rounded rounded-sm;
}

.msg {
  @apply px-2 py-1 opacity-80 text-sm rounded-sm shadow-sm my-2 w-full lg:w-3/4 flex flex-col;
}

.warning {
  @apply bg-orange-200 text-orange-700;
  @apply before:content-['Warning'] before:font-bold before:mr-0.5 before:uppercase before:border-b-1 before:border-orange-300 before:font-raleway before:mb-1;
}

.dyn {
  @apply bg-blue-200 text-blue-700;
  @apply before:content-['Did_you_know_?'] before:font-bold before:mr-0.5 before:uppercase before:border-b-1 before:border-blue-300 before:font-raleway before:mb-1;
}
