<div
  class="flex flex-col justify-start items-start space-x-2 text-slate-500 dark:text-slate-300"
>
  {{- if .Date }} {{ $dateMachine := .Date | time.Format
  "2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date.Format "02 Jan, 2006" }}
  <div class="flex flex-row gap-x-1">
    <span>•</span>
    <span>published on</span>
    <time datetime="{{ $dateMachine }}"> {{ $dateHuman }} </time>
  </div>
  {{ end -}}
</div>

{{- if $.Site.Params.showUpdateTime -}} {{- $publishedDate := .Date.Format
"2006-01-02" -}} {{- $lastModDate := .Lastmod.Format "2006-01-02" -}}

<div
  class="flex flex-col justify-start items-start space-x-2 text-slate-500 dark:text-slate-300"
>
  {{- if and .Lastmod (ne $publishedDate $lastModDate) }} {{ $dateMachine :=
  .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }} {{ $dateHuman :=
  .Lastmod.Format "02 Jan, 2006" }}
  <div class="flex flex-row gap-x-1">
    <span>•</span>
    <span>updated on</span>
    <time datetime="{{ $dateMachine }}"> {{ $dateHuman }} </time>
  </div>
  {{- end -}}
</div>
{{- end -}}
